<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamPM.neart.mapper.NoticeBoardMapper">
    
   <select id="getList" resultType="com.teamPM.neart.vo.NoticeBoardVO">
   <![CDATA[
      select * from board order by bid desc
   ]]> 
   </select>
   
   <select id="read" resultType="com.teamPM.neart.vo.NoticeBoardVO">
	<![CDATA[
		select * from board where bid = #{bid}
	]]>
	</select>
	
	<insert id="insert" >
	<![CDATA[
		insert into board (bid, btitle, bcontent, bhit, secret, bcategory, membernum) values (board_seq.nextval, #{btitle}, #{bcontent}, 0, 0, 0, 4)
		
	]]>
	</insert>
	
	<delete id="delete" >
	<![CDATA[
		delete from board where bid = #{bid}
	]]>
	</delete>
	
	<update id="update" >
	<![CDATA[
		update board set bid = #{bid}, btitle = #{btitle}, bcontent = #{bcontent} where bid = #{bid}
	]]>
	</update>
	
	<update id="updateHit" >
	<![CDATA[
		update board set bhit = bhit +1 where bid = #{bid}
	]]>
	</update>
   
</mapper>