<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 패키지 명 + 인터페이스명과 맞춰줘야한다. -->
<mapper namespace="com.teamPM.neart.mapper.ProductMapper">

	<!-- 1대 n 처리 -->
	<resultMap id="ProductMap" type="com.teamPM.neart.vo.ProductVO">
		<result property="productid" column="productid" /> <!-- 칼럼은 디비에 있는 칼럼명이 온다, property는 ProductVO에있는 변수명 -->
		<result property="productname" column="productname" />
		<result property="productcontent" column="productcontent" />
		<result property="artist" column="artist" />
		<result property="productsize" column="productsize" />
		<result property="stock" column="stock" />
		<result property="price" column="price" />
		<result property="productdate" column="productdate" />
		<result property="producthit" column="producthit" />
		<result property="imgid" column="imgid" />
		<result property="filePath" column="filePath" />
		<result property="typeid" column="typeid" />
		<result property="imgtype" column="imgtype" />
	</resultMap>


	<!-- 01. 사진포함 상품 목록 -->
	<!-- 열개씩 뽑아내는거 한페이지에 출력해주는 역할 -->
	<select id="getProductList" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                       SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid
	                         	order by 
	                         	product.productid desc 
	        
	      
	   
	   ]]>
	</select>

	<!-- 02. 상품 상세 조회 -->
	<select id="detailProduct" resultType="com.teamPM.neart.vo.ProductVO">
   <![CDATA[
     SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid
      and product.productid = #{productid}
   ]]>
	</select>

	<!-- 03. 상품 등록 -->
	<insert id="insertProduct"> 
   <![CDATA[
		insert into product (productid, productname, productcontent, artist, productsize, price, stock, producthit) 
	values (product_seq.nextval, #{productname}, #{productcontent}, #{artist}, #{productsize}, #{price}, #{stock}, 0)
   ]]>
	</insert>

	<!-- 04. 상품 수정 -->
	<update id="modifyProduct">
	<![CDATA[
		update product set productname = #{productname}, productcontent = #{productcontent}, artist = #{artist},
		 productsize = #{productsize}, price = #{price}, stock = #{stock} where productid = #{productid}
	]]>
	</update>

	<!-- 05. 상품 조회수 -->
	<update id="upHitProduct">
	<![CDATA[
		update product set producthit = producthit +1 where productid = #{productid}
	]]>
	</update>

	<!-- 06. 총 상품(페이징) -->
	<select id="getTotalCount" resultType="int">
	<![CDATA[
		select count(*) from product
	]]>
	</select>
	
	<!-- 07. NEW 상품 목록 -->
	<select id="newProduct" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                      select * from(    
    
    						SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid 
	                         	order by 
	                         	product.productdate desc )
                                
    						where rownum <=8
                                
	        
	   
	   ]]>
	</select>
	
	
	<!-- 08. BEST 상품 목록 -->
	<select id="bestProduct" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                      select * from(    
    
    						SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid 
	                         	order by 
	                         	product.producthit desc )
                                
    						where rownum <=4
	        
	      
	   
	   ]]>
	</select>
	
	<!-- 09. ArtPoster 목록 -->
	<select id="artPoster" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                      select * from(    
    						SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid 
	                         	order by 
	                         	product.productname desc )
    						where productid in(104, 106, 107, 108, 109, 124, 121, 130)
	        
	      
	   
	   ]]>
	</select>
	
	<!-- 10. fabricArt 목록 -->
	<select id="fabricArt" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                      select * from(    
    						SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid 
	                         	order by 
	                         	product.productname desc )
    						where productid in(105, 110, 115, 111, 116, 114, 117, 101)
	        
	      
	   
	   ]]>
	</select>
	
	
	<!-- 11. kids 목록 -->
	<select id="kids" resultType="com.teamPM.neart.vo.ProductVO">
	   <![CDATA[
	          
	                      select * from(    
    						SELECT
	                       		product.productid as productid,
	                       		product.productname as productname,
	                       		product.productcontent as productcontent,
	                       		product.artist as artist,
	                       		product.productsize as productsize,
	                       		product.stock as stock,
	                       		product.price as price,
	                       		product.productdate as productdate,
	                       		product.producthit as producthit,
	                       		image.imgid as imgid,
	                       		image.filePath as filePath,
	                       		imagetype.typeid as typeid,
	                       		imagetype.imgtype as imgtype
	                         FROM
	                            product,
	                            image,
	                            imagetype
	                         where
	                         	product.productid = image.productid
	                         	and
	                         	image.imgid = imagetype.imgid 
	                         	order by 
	                         	product.productname desc )
    						where productid in(125, 121, 123, 129, 122, 126, 131, 132)
	        
	      
	   
	   ]]>
	</select>


</mapper>