<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamPM.neart.mapper.UserMapper">

	<resultMap id="userMap" type="com.teamPM.neart.vo.MemberVO"> 
		<result property="membernum" column="membernum"/> <!-- 칼럼은 디비에 있는 칼럼명이 온다, property는 MemberVO에있는 변수명 -->
	    <result property="id" column="id"/>
	    <result property="password" column="password"/>
	    <result property="name" column="name"/>
	    <result property="year" column="year"/>
	    <result property="month" column="month"/>
	    <result property="day" column="day"/>
	    <result property="address" column="address"/>
	    <result property="phonenum" column="phonenum"/>
	    <result property="enabled" column="enabled"/>
	    <result property="email" column="email"/>
		<collection property="authList" resultMap="authMap"></collection> <!-- private List<AuthVO> authList; 처리 -->
	</resultMap>
	
	<resultMap id="authMap" type="com.teamPM.neart.vo.AuthVO">
		<result property="authorityid" column="authorityid"/>
		<result property="authority" column="authority"/>
		<result property="membernum" column="membernum"/>
	</resultMap>
	
	<select id="getUser" resultMap="userMap"> <!--  resultMap : 1:n 처리 -->
		select * from member, authorities 
		where member.membernum = authorities.membernum and member.id = #{username}
	</select>
	
	<select id="isEmail" resultType="com.teamPM.neart.vo.MemberVO">
      select * from member where email = #{email}
   </select>
   
   <insert id="memberJoin" >
   <![CDATA[ 
         insert into member (MEMBERNUM,ID, PASSWORD,NAME,YEAR, MONTH, DAY, ADDRESS,PHONENUM,EMAIL)
         values (member_seq.nextval, #{id}, #{password}, #{name}, #{year},#{month},#{day},#{address}, #{phonenum}, #{email})     
      ]]>
   </insert>
	
	
	
	<!-- 회원정보읽기 -->
	<select id="read" resultType="com.teamPM.neart.vo.MemberVO">
	<![CDATA[
		select * from member where id = #{id}
	]]>
	</select>
	
	<!-- 회원정보수정 -->
	<update id="update">
	<![CDATA[
		update member set id = #{id}, name = #{name}, year = #{year}, month = #{month}, day = #{day}, address = #{address}, phonenum = #{phonenum} where id = #{id}
	]]>
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="delete">
	<![CDATA[
		update member set enabled = 0 where id = #{id}
	]]>
	</update>
	
	<!-- 탈퇴한 회원 로그인 불가 -->
	<select id="withdraw" resultType="com.teamPM.neart.vo.MemberVO">
	<![CDATA[
		select * from member where enabled = 0
	]]>
	</select>
	
	<!-- 주문리스트 뽑아내기 -->
	<select id="detail" resultType="com.teamPM.neart.vo.OrderdetailsVO">
	<![CDATA[
        select
			orders.membernum as membernum,
			orders.ordersdate as ordersdate,
	        orders.ordersid as ordersid,
	        ordersdetails.totalquantity as totalquantity,
            product.productid as productid,
	        product.productname as productname,
			product.price as price
	        from orders, ordersdetails, product
	        where membernum = #{membernum}
            group by
            orders.membernum,
            orders.ordersdate,
            orders.ordersid,
            ordersdetails.totalquantity,
            product.productid,
            product.productname,
            product.price
	]]>
	</select>
	
	<!-- 주문 상세 내역 뽑아내기 -->
	<select id="orderreceipt" resultType="com.teamPM.neart.vo.OrderdetailsVO">
	<![CDATA[
        select
			B.membernum
			,B.ordersdate
			,B.ordersid
			,sum(B.price) as price
			from
				(select 
			    orders.membernum as membernum,
			    orders.ordersdate as ordersdate,
			    orders.ordersid as ordersid,
			    ordersdetails.totalquantity as totalquantity,
			    product.productname as productname,
			    product.price as price 
			    from orders, ordersdetails, member, product
			    where orders.ordersid = ordersdetails.ordersid
			    and orders.membernum = member.membernum) B
		    where B.ordersid = #{ordersid}
			group by 
			B.membernum
			,B.ordersdate
			,B.ordersid
	]]>
	</select>
	
	<!-- 주문리스트 뽑아내기 -->
	<select id="receiptlist" resultType="com.teamPM.neart.vo.OrderdetailsVO">
	<![CDATA[
        select
	        orders.ordersid as ordersid,
	        ordersdetails.totalquantity as totalquantity,
	        product.productname as productname,
			product.price as price,
            product.productid as productid
	        from orders, ordersdetails, product
	        where orders.ordersid = #{ordersid}
            group by 
            orders.ordersid,
	        ordersdetails.totalquantity,
	        product.productname,
			product.price,
            product.productid
	]]>
	</select>
	

	

</mapper>
