<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS import -->
<link rel="stylesheet" type="text/css" href="source.css"/>


<!-- Bootstrap CSS -->
<link 
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"  
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
  crossorigin="anonymous"
/>

<!-- Bootstrap jumbotron -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/jumbotron/">


<title>그림구독 neart</title>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

  a {
  color: black;
  text-decoration:none;
  }

  a:hover {
    color: black;
    text-decoration: underline;
    text-underline-position: under;
  }

</style>
</head>

<body>

<header class="site-navbar sticky-top" style="background-color: #171717;">
    <div class=" ">
      <nav class="navbar navbar-expand-lg p-3">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div>
            <ul class="nav">
              <a class="logo-img mt-1" href=""><img class="logo" src="image/logo_white.png" alt=""></a>
              <li class="nav-item">
                <a class="nav-link" style="color: white;" href="">ART-PRODUCT<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white;" href="">SUBSCRIPTION (구독)<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white;" href="">ABOUT</a>
              </li>
            </ul>
          </div>

          <div>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" style="color: white;" href="">JOIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white;" href="">LOGIN</a>
              </li>
              <li class="nav-item">
                <button type="button" class="btn rounded-pill" style="background-color: #6B55F3; margin-left: 15px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check mb-1" style="color: white;" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>


<main class="backcolor">
  <div class="container" >
    <div class="container p-4 mb-5">
      <div class="container-fluid py-lg-5" style="color: white;">
        <h1 class="display-4 fs-3" style="font-weight:normal">그림 정기구독으로 그림이 있는 일상을,</h1>
        <p class="col display-6 fw-normal" style="font-size: 3em;">neart에서 아트 컬렉팅을 시작하세요.</p>
        <h5 class="untact col-sm-1" style="color: #6B55F3;">#untact</h5>
        <h5 class="subservice col-sm-2" style="color: #6B55F3;">#구독서비스</h5>
        <div class="d-md-flex justify-content-md-end">
          <button class="btn rounded-pill btn-lg" style="background-color: #6B55F3; color: white; width: 280px;" type="button">구독 서비스 안내</button>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6 themed-grid-col d-flex justify-content-between" style="color: white;">
            <p>SUBSCRIPTION (구독)
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </p>
            <p class="d-flex justify-content-end" style="padding-top: 5px; padding-right: 15px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
            </p>
          </div>
          <div class="col-md-6 themed-grid-col d-flex justify-content-between" style="color: white;">
            <p style="padding-left: 10px;">REVIEW
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </p>
            <p class="d-flex justify-content-end" style="padding-top: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
            </p>
          </div>
        </div>
        <div class="mt-1">
          <a href=""><img src="image/subscr-img.gif" class="float-start" alt="..."></a>
        </div>
        <div class="mt-1">
        <a href=""><img src="image/review-img.jpg" class="float-end" alt="..."> </a>
        </div>
    </div>
  </div>
</main>


<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="d-flex justify-content-between flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow">
    <h6 class="my-0 mr-md-auto font-weight-normal">ART PRODUCT(상품) →</h6>
    <nav class="d-flex justify-content-end">
      <a class="p-2" href="#">ALL</a>
      <a class="p-2" href="#">FLOWER</a>
      <a class="p-2" href="#">COLOR</a>
      <a class="p-2" href="#">MODERN</a>
    </nav>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4" style="width: 1400px;">

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/01.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/01hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/02.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/02hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/03.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/03hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/04.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/04hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/05.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/05hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/06.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/06hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/07.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/07hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/08.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/08hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/09.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/09hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="margin-top: 80px; margin-bottom: 80px; padding: 30px;">
          <div class="card border-0">
            <div class="zoom-a">
            <div class="zoom" style=" overflow: hidden;">
              <img src="image/10.jpg" class="zoom-b card-img-top" alt="..."/>
              <img src="image/10hover.jpg" class="zoom-c card-img-top" alt="..."/>
            </div>
            </div>
            <div class="card-body">
              <div class="justify-content-center align-items-center" style="font-size: 13px;">
                <div class="card-text text-center">ARTIST</div>
                <h6 class="card-text text-center" href="#">TITLE</h6>
                <div class="card-text text-center">100,000 won</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="d-flex justify-content-end">
      <a href="#">Back to top</a>
    </p>
  </div>

  <footer class="py-lg-5" style="background-color: #ececec;">
    <div class="nav justify-content-center">
      <div class="row">
        <nav class="d-flex" style="padding-right: 80px;">
          <a class="p-2" href="#">ABOUT US</a>
          <a class="p-2" href="#">MEMBERSHIP</a>
          <a class="p-2" href="#">NEWS</a>
          <a class="p-2" href="#">Q&A</a>
          <a class="p-2" href="#">REVIEW</a>
          <a class="p-2" href="#">GUIDE</a>
        </nav>
      </div>

      <div class="footer">
        <ul class="my_comment_ul">
          <li>고객센터 : 070.1577.1577</li>
          <li>(월~금 10:00~17:00 / 토,일 휴무)</li>
        </ul>
        <ul class="my_comment_ul">
          <li>상호 : 주식회사 니아트</li>
          <li>대표 : 허정식</li>
          <li>주소 : 서울특별시 금천구 가산동 426-5 월드 메르디앙 벤처 센터 2 차 312 호</li>
        </ul>
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette" viewBox="0 0 16 16">
            <path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            <path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z"/>
          </svg>
          <small class="d-block text-muted">© 2020-2022</small>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>